.features {
    @extend %section;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.features__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.features__theme {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.features__text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
